.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    outline: 0 none;
}

.btn:focus,
.btn.active:focus {
    outline: 0 none !important;
    border: 0 none;
    box-shadow: none !important;
}

.btn-primary {
    background: #000000;
    color: #ffffff;
    border: 0 none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    background: #89908B;
    outline: 0 none;
    border: 0 none;
}

#active {
    color: red
}